<!doctype html>
<html ng-app="positions">
	<head>
		<title>Hello AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    	<script src="positions.js"></script>
	</head>

	<body>
		<div ng-controller="getPositions">
            <select ng-model="selectID" ng-options="position.id for position in positions"
                    ng-change="update()">
            </select>

            <p>ID: {{position.id}}</p>
            <p>Name: {{position.name}}</p>
			<p>Created on: {{position.createdOn}}</p>
			<p>Latitude: {{position.latitude}}</p>
            <p>Longitude: {{position.longitude}}</p>

            <p>---------------------------------------------------------</p>

            <div ng-repeat="p in positions">
                <p>ID: {{p.id}}</p>
                <p>Name: {{p.name}}</p>
			    <p>Created on: {{p.createdOn}}</p>
			    <p>Latitude: {{p.latitude}}</p>
                <p>Longitude: {{p.longitude}}</p>
            </div>
		</div>
	</body>
</html>